<%- include("header.ejs") %>

<body>
  <%- include("navbar.ejs") %>
  <br />
  <div class="container">
    <h1>Daily Blog</h1>
    <p>
      Welcome to my personal blog! Here, I share thoughts, stories, and moments
      that inspire me. Feel free to explore and leave your feedback!
    </p>

    <h2 class="recent-posts-title">Recent Posts</h2>
    <% title.forEach((element, index) => { %>
    <div class="container">
      <h3><%- element%></h3>
      <div class="post-container">
        <div class="post">
          <p><%= post[index] %></p>
        </div>
        <a href="/<%= element %>" class="read-more">read more</a>
      </div>
      <br />
    </div>
    <% }) %>
  </div>
</body>

<%- include("footer.ejs") %>
